@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-forest-green: #56772A;
  --brand-steel-blue: #6D8BA6;
  --brand-light-green: #EEF9F3;
  --brand-off-white: #FAFAFA;
  --brand-golden-yellow: #FBB13C;
}

/* styles.css or global.css */
.label-required::after {
  content: " *";
  color: #dc2626; /* Tailwind red-600 */
}
